<!DOCTYPE html>
<html>
  <head>
    <title>PennPolls</title>

    <!-- Import bootstrap base -->
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="/css/base.css"
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/poll.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">

      window.onload = function() {
        console.log("Page has been loaded!");
      };
    </script>
  </head>

<body>
  <%if (message != null) { %>
  <font color="red"><%= message %></font>
  <% } %>

  <h1>Welcome to PennPolls!</h1>

  <h2>What is PennPolls?</h2>

  <h2>Create an Account:</h2>
  <form action="/createAccount" method="post">
    Enter First Name Here: <input type="text" name="firstname"><br>
    Enter Last Name Here: <input type="text" name="lastname"><br>
    Enter Your University of Pennsylvania Email Here: <input type="text" name="createAccountEmail"><br>
    Enter Your Pennkey Here: <input type="text" name="pennkey"><br>
    Enter Password Here: <input type="password" name = "createAccountPassword"><br>
    Enter Graduation Year Here (YYYY): <input type="text" name="gradyear"><br>
    Enter Phone Number Here XXX-XXX-XXXX: <input type="text" name="phonenumber"><br>
    <p>Choose the schools to which you belong at the University of Pennsylvania:</p>
    <input type="checkbox" name="schools" value="engineering">Engineering<br>
    <input type="checkbox" name="schools" value="college">The College<br>
    <input type="checkbox" name="schools" value="wharton">Wharton<br>
    <input type="checkbox" name="schools" value="nursing">Nursing<br><br>
    <input type="submit" value="Create Account">
  </form>

  <h2>Sign In:</h2>
  <form action="/checklogin" method="get">
    Enter Your University of Pennsylvania Email Here: <input type="text" name="signInEmail"><br>
    Enter Password Here: <input type="password" name="password"><br>
    <input type="submit" value="Log In">
  </form>

</body>

<footer>
</footer>
</html>