.jumbotron {
	margin-bottom: 10px;
	padding-top: 1px;
	padding-bottom: 10px;
}

.progress {
	margin-left: 75px;
	position: relative;
	top: 7px;
}

.progress-bar {
	padding-top: 2px;
	float: left;
}

.btn {
	float: left;
}